# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* notebook
* R
* RStudio

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia
5. java

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pytorch
3. Seaborn
4. Plotly
5. Tensorflow

  |Data Science Tools |
  |------------------ |
  | Spark  |
  | Hadoop |
  | Pandas |

<h3> Below are a few examples of evaluating arithmetic expressions in Python: <h3>

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
print(hours)

3.3333333333333335

## Author ##
Amit